
h1 {
    margin-bottom: 30px;
    text-transform:uppercase;
    color: #666666;
}

h2 {
    margin-bottom: 10px;
    color: #888888;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.center {
    text-align: center;
}

.panel {
    border-color: #ccc;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.panel>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel>.panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel>.panel-heading a.active {
    color: #337AB7;
    font-size: 18px;
}

.panel>.panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel input[type="text"], .panel input[type="email"], .panel input[type="password"], .panel input[type="number"], .panel select {
    height: 40px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel input:hover, .panel input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.form-horizontal .control-label {
    text-align:left;
}

.table.align-middle td {
     vertical-align: middle !important;
}

.table.clickable-rows tr {
    cursor: pointer;
}

.btn-lg {
    padding-left:35px;
    padding-right:35px;
}

.profileMenu {
    margin-top: 30px;
    text-align: center;
}

.profileMenu  .menuItem  .icon {
    font-size: 2em;
}

.profileMenu .menuItem  .itemLabel {
    margin-top: 15px;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.fade.in {
    opacity: 1;
}